<div ng-controller="MemberDashboardCtrl as vm">
    <div class="bg-brownie full-main-mobile" style="height: 10px;"></div>
    <div class="bg-light px-3 py-2">
        <h2 class="font-weight-bolder">Welcome to USTP CDO Multi-Cooperative Web Portal</h2>
        <p class="font-size-18 text-info">Current Balance: {{vm.balance}}</p>
        <p class="font-weight-bolder mt-3 font-size-20">My Requests</p>
        <div class="bg-blue p-2">
            <div class="d-flex retain-row-136 mb-1 justify-content-end">
                <h4 class="text-nowrap mb-0 mr-2 text-white">Filter:</h4>
                <div class="d-flex retain-row-136 retain-row">
                    <input type="date" class="form-control mr-1" ng-model="vm.variables.from" >
                    <input type="date" class="form-control mr-1" ng-model="vm.variables.to" >
                    <button type="button" class="btn" ng-click="vm.getTransactions()">Go</button>
                </div>
            </div>
            <div ui-grid="vm.transactionGrid" ui-grid-selection ui-grid-resize-columns class="position-relative">
                <div class="ui-grid-center-panel" ng-show="vm.filteredTransaction.length == 0 && !vm.loading">No data found</div>
                <div class="ui-grid-center-panel" ng-show="vm.loading">Loading...</div>
            </div>
        </div>
    </div>
</div>