<header class="toolbar">
	<nav class="toolbar__navigation">
		<div class="d-flex retain-row-136 px-4 py-2 align-items-center justify-content-between mobile-navbar">
			<div ng-click="vm.openSideMenu()">
				<img src="assets/images/coop-logo.png" alt="" class="sub-logo mobile-no-display">
				<i class="fa fa-bars sub-logo-menu"></i>
			</div>
			<ul class="nav navbar-top-links d-flex retain-row-136 gap-20 align-items-center">
				<li ng-if="vm.profile.as === 'member'">
					<a ui-sref="member.main" href="javascript:void(0);">
						<div class="d-flex retain-row-136 align-items-end">
							<span class="text-black font-size-18 font-weight-bolder mobile-no-display mr-1">Home</span>
							<i class="fa-solid fa-home font-size-28 text-black"></i>
						</div>
					</a>
				</li>
				<li ng-if="vm.profile.as === 'admin'">
					<a ui-sref="app.main" href="javascript:void(0);">
						<div class="d-flex retain-row-136 align-items-end">
							<span class="text-black font-size-18 font-weight-bolder mobile-no-display mr-1">Home</span>
							<i class="fa-solid fa-home font-size-28 text-black"></i>
						</div>
					</a>
				</li>
				<!-- <li>
					<a ui-sref="app.home" href="javascript:void(0);">
						<div class="d-flex align-items-end">
							<span class="text-black font-size-18 font-weight-bolder nowrap mobile-no-display mr-1">About Us</span>
							<i class="fa-solid fa-address-card font-size-28 text-black"></i>
						</div>
					</a>
				</li> -->
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
						<div class="d-flex retain-row-136 align-items-center">
							<div class="d-flex flex-column">
								<span class="text-black font-size-18 font-weight-bolder mobile-no-display mr-1">{{vm.profile.name}}</span>
								<small class="font-size-14 text-right mr-1">{{vm.profile.account_no}}</small>
							</div>
							<img src="{{vm.profile.image}}" style="width:50px;height: 50px;border-radius: 50%;">
						</div>   
					</a>
					<ul class="dropdown-menu dropdown-user dropdown-menu-right">
						<li ng-click="vm.userPane()" class="cursor-pointer">
							<a><i class="fa fa-user fa-fw"></i> User Profile</a>
						</li>
						<li ng-click="vm.changePassword()" class="cursor-pointer">
							<a><i class="fa fa-cogs fa-fw"></i> Change Password</a>
						</li>
						<li class="divider"></li>
						<li class="cursor-pointer">
							<a ng-click="vm.logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>
