<div class="navbar-default sidebar h-100" role="navigation">
	<div class="sidebar-nav">
		<ul class="nav w-100 pl-5" id="side-menu">
			<li ui-sref-active="selected">
				<a ui-sref="app.main">
						<i class="fa-solid fa-bars"></i> &nbsp; Dashboard
				</a>
			</li>
			<li ui-sref-active="selected">
				<a ui-sref="app.clients">
						<i class="fa-sharp fa-solid fa-users-between-lines"></i> &nbsp; Clients
				</a>
			</li>
			<li ui-sref-active="selected">
				<a ui-sref="app.applications">
						<i class="fa-solid fa-layer-group"></i> &nbsp; Applications
				</a>
			</li>
			<li ui-sref-active="selected">
				<a ui-sref="app.transactions">
						<i class="fa-solid fa-arrow-right-arrow-left"></i> &nbsp; Transactions
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="sidebar-mobile position-fixed h-100vh">
	<div class="sidebar-nav bg-grey">
		<ul class="nav w-100 pl-5" id="side-menu">
			<li ui-sref-active="selected">
				<a ui-sref="app.main">
						<i class="fa-solid fa-bars"></i> &nbsp; Dashboard
				</a>
			</li>
			<li ui-sref-active="selected">
				<a ui-sref="app.clients">
						<i class="fa-sharp fa-solid fa-users-between-lines"></i> &nbsp; Clients
				</a>
			</li>
			<li ui-sref-active="selected">
				<a ui-sref="app.applications">
						<i class="fa-solid fa-layer-group"></i> &nbsp; Applications
				</a>
			</li>
			<li ui-sref-active="selected">
				<a ui-sref="app.transactions">
						<i class="fa-solid fa-arrow-right-arrow-left"></i> &nbsp; Transactions
				</a>
			</li>
		</ul>
	</div>
	<div class="sidenav-outside" ng-click="vm.hideSideBar()"></div>
</div>