<div class="modal-content">
	<div class="container-fluid">
		<div class="row modal-title-div">
			<div class="col-md-12">
				<span ng-click="modal.close()" class="pointer modal-exit">&times;</span>
				<h4 class="modal-title-name">
					<span class="fa fa-cogs text-primary"></span>&nbsp;Change Password</h4>
			</div>
		</div>
	</div>
	<form ng-submit="modal.save()">
		<div class="modal-body">
			<div class="row mb-1">
				<div class="col-md-12 mb-2">
					<div class="input-group mb-2">
						<span class="input-group-addon">Old Password</span>
						<input type="password" class="form-control" ng-model="modal.variables.old" required />
					</div>
					<div class="input-group mb-2">
						<span class="input-group-addon">New Password</span>
						<input type="password" class="form-control" ng-model="modal.variables.new" required />
					</div>
					<div class="input-group">
						<span class="input-group-addon">Con. Password</span>
						<input type="password" class="form-control" ng-model="modal.variables.confirm" required />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-right">
					<button type="submit" class="btn btn-primary btn-sm">
						<strong>
							<span class="fa fa-save fa-fw"></span>Save</strong>
					</button>
					<button type="button" class="btn btn-basic btn-sm" ng-click="modal.close()">
						<strong>Close</strong>
					</button>
				</div>
			</div>
		</div>
	</form>
</div>